# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Build files
dist/
build/

# Temporary files
tmp/
temp/

# Package files
*.rar
*.zip 